* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}
body {
    margin: 0; 
    padding-top: 85px;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vh;
    font-family: 'Orbitron', sans-serif; 
}
.corpo-bot{
    width: 700px;
    border:1px solid white;
    border-radius: 115px;
    
}

.bot {
    margin-bottom: 40px;
}

main {
    margin-left: 15vh;
    margin-top: 5vh;
}
.empresa, .bot {
    font-size: 2.3vh;
    margin-left: 4vh;
}

.detalhex {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    
}
.blau {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}
.imgnav {

    margin: 0;
    padding: 0;
}